
.plink{display: flex;justify-content:space-between;width: 219px;;

  
  flex-direction: row;justify-content: space-around;


}


.container_list {display: flex;flex-flow: row wrap;margin-left: 100px;

  justify-content: space-around;
  width: 900px;
}
.container_list .elmt{width:242px;border:2px solid #000;margin-bottom: 15px;}
.container_list .elmt p{font-size: 16px;padding: 5px}
.container_list .elmt span{font-weight: bolder}


.app_cont,form{margin-left: 400px;}
